In [50]:
#This notebook is used to create a df for only the football months Aug - Nov
#Begin with the full dataset.
#clean/format the data
#export the final dataframe of football season data data to a csv which will be used in a new notebook.

In [51]:
import warnings
warnings.simplefilter('ignore')

%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import datetime as dt

### Explore the Data

In [52]:
# Read the csv file into a pandas DataFrame
allData = pd.read_csv('data/Iowa_Liquor_Sales.csv')

In [53]:
allData.head()

,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,County,...,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons),Iowa ZIP Code Tabulation Areas,Iowa Watershed Sub-Basins (HUC 08),Iowa Watersheds (HUC 10),County Boundaries of Iowa,US Counties
0,S23100600051,12/20/2014,2629,Hy-Vee Food Store #2 / Council Bluff,1745 MADISON AVE,COUNCIL BLUFFS,51503,POINT (-95.825137 41.242732),78.0,Pottawattamie,...,30.00,6,180.0,4.50,1.19,817.0,40.0,236.0,69.0,1879.0
1,S22940400072,12/15/2014,2601,Hy-Vee Food Store / Fairfield,1300 WEST BURLINGTON AVE,FAIRFIELD,52556,POINT (-91.978702 41.006456),51.0,Jefferson,...,31.50,2,63.0,1.50,0.40,326.0,13.0,147.0,83.0,285.0
2,S04020500025,02/09/2012,2636,Hy-Vee Wine and Spirits / Hubbell,2310 HUBBELL AVE,DES MOINES,50317,POINT (-93.573844 41.604313),77.0,Polk,...,11.25,12,135.0,12.00,3.17,87.0,29.0,356.0,64.0,1878.0
3,S20489400023,08/05/2014,4602,Cheap Smokes / Beer City,58231 190th ST,PACIFIC JUNCTION,51561,POINT (-95.822954 41.041825),65.0,Mills,...,22.50,1,22.5,1.00,0.26,545.0,42.0,250.0,79.0,1832.0
4,S27726700099,09/04/2015,2191,Keokuk Spirits,1013 MAIN,KEOKUK,52632,POINT (-91.387531 40.39978),56.0,Lee,...,25.50,1,25.5,0.75,0.20,806.0,10.0,121.0,99.0,1827.0

In [54]:
# allData.describe()

In [55]:
allData.dtypes

Invoice/Item Number                    object
Date                                   object
Store Number                            int64
Store Name                             object
Address                                object
City                                   object
Zip Code                               object
Store Location                         object
County Number                         float64
County                                 object
Category                              float64
Category Name                          object
Vendor Number                         float64
Vendor Name                            object
Item Number                            object
Item Description                       object
Pack                                    int64
Bottle Volume (ml)                      int64
State Bottle Cost                     float64
State Bottle Retail                   float64
Bottles Sold                            int64
Sale (Dollars)                        float64
Volume Sold (Liters)                  float64
Volume Sold (Gallons)                 float64
Iowa ZIP Code Tabulation Areas        float64
Iowa Watershed Sub-Basins (HUC 08)    float64
Iowa Watersheds (HUC 10)              float64
County Boundaries of Iowa             float64
US Counties                           float64
dtype: object

In [56]:
allData.head()

,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,County,...,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons),Iowa ZIP Code Tabulation Areas,Iowa Watershed Sub-Basins (HUC 08),Iowa Watersheds (HUC 10),County Boundaries of Iowa,US Counties
0,S23100600051,12/20/2014,2629,Hy-Vee Food Store #2 / Council Bluff,1745 MADISON AVE,COUNCIL BLUFFS,51503,POINT (-95.825137 41.242732),78.0,Pottawattamie,...,30.00,6,180.0,4.50,1.19,817.0,40.0,236.0,69.0,1879.0
1,S22940400072,12/15/2014,2601,Hy-Vee Food Store / Fairfield,1300 WEST BURLINGTON AVE,FAIRFIELD,52556,POINT (-91.978702 41.006456),51.0,Jefferson,...,31.50,2,63.0,1.50,0.40,326.0,13.0,147.0,83.0,285.0
2,S04020500025,02/09/2012,2636,Hy-Vee Wine and Spirits / Hubbell,2310 HUBBELL AVE,DES MOINES,50317,POINT (-93.573844 41.604313),77.0,Polk,...,11.25,12,135.0,12.00,3.17,87.0,29.0,356.0,64.0,1878.0
3,S20489400023,08/05/2014,4602,Cheap Smokes / Beer City,58231 190th ST,PACIFIC JUNCTION,51561,POINT (-95.822954 41.041825),65.0,Mills,...,22.50,1,22.5,1.00,0.26,545.0,42.0,250.0,79.0,1832.0
4,S27726700099,09/04/2015,2191,Keokuk Spirits,1013 MAIN,KEOKUK,52632,POINT (-91.387531 40.39978),56.0,Lee,...,25.50,1,25.5,0.75,0.20,806.0,10.0,121.0,99.0,1827.0

In [57]:
#total records in the dataframe
len(allData.index)

16670724

In [58]:
#how many rows and columns?
allData.shape

(16670724, 29)

In [59]:
#change the month datatype
allData['Date'] = pd.to_datetime(allData['Date'])

In [60]:
allData.dtypes

Invoice/Item Number                           object
Date                                  datetime64[ns]
Store Number                                   int64
Store Name                                    object
Address                                       object
City                                          object
Zip Code                                      object
Store Location                                object
County Number                                float64
County                                        object
Category                                     float64
Category Name                                 object
Vendor Number                                float64
Vendor Name                                   object
Item Number                                   object
Item Description                              object
Pack                                           int64
Bottle Volume (ml)                             int64
State Bottle Cost                            float64
State Bottle Retail                          float64
Bottles Sold                                   int64
Sale (Dollars)                               float64
Volume Sold (Liters)                         float64
Volume Sold (Gallons)                        float64
Iowa ZIP Code Tabulation Areas               float64
Iowa Watershed Sub-Basins (HUC 08)           float64
Iowa Watersheds (HUC 10)                     float64
County Boundaries of Iowa                    float64
US Counties                                  float64
dtype: object

In [61]:
print(allData.index)

RangeIndex(start=0, stop=16670724, step=1)

In [62]:
#change the index of the df to the Date
#allData.set_index(allData["Date"],inplace=True)

In [63]:
allData.head()

,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,County,...,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons),Iowa ZIP Code Tabulation Areas,Iowa Watershed Sub-Basins (HUC 08),Iowa Watersheds (HUC 10),County Boundaries of Iowa,US Counties
0,S23100600051,2014-12-20,2629,Hy-Vee Food Store #2 / Council Bluff,1745 MADISON AVE,COUNCIL BLUFFS,51503,POINT (-95.825137 41.242732),78.0,Pottawattamie,...,30.00,6,180.0,4.50,1.19,817.0,40.0,236.0,69.0,1879.0
1,S22940400072,2014-12-15,2601,Hy-Vee Food Store / Fairfield,1300 WEST BURLINGTON AVE,FAIRFIELD,52556,POINT (-91.978702 41.006456),51.0,Jefferson,...,31.50,2,63.0,1.50,0.40,326.0,13.0,147.0,83.0,285.0
2,S04020500025,2012-02-09,2636,Hy-Vee Wine and Spirits / Hubbell,2310 HUBBELL AVE,DES MOINES,50317,POINT (-93.573844 41.604313),77.0,Polk,...,11.25,12,135.0,12.00,3.17,87.0,29.0,356.0,64.0,1878.0
3,S20489400023,2014-08-05,4602,Cheap Smokes / Beer City,58231 190th ST,PACIFIC JUNCTION,51561,POINT (-95.822954 41.041825),65.0,Mills,...,22.50,1,22.5,1.00,0.26,545.0,42.0,250.0,79.0,1832.0
4,S27726700099,2015-09-04,2191,Keokuk Spirits,1013 MAIN,KEOKUK,52632,POINT (-91.387531 40.39978),56.0,Lee,...,25.50,1,25.5,0.75,0.20,806.0,10.0,121.0,99.0,1827.0

In [64]:
#count the records for each year
#countYear = allData.groupby([allData['Date'].dt.year.rename('year')]).agg({'count'})
#Keep for reference, not efficient

#countYear.head()

In [65]:
#Keep only the rows which have a date of 2018 or 2019. 
#total for 2018 (2,355,558) + 2019 (1,315,896) = 3,671,454

#recentData = allData[(allData['Date'] > '2017-12-31') & (allData['Date'] <= '2020-1-1')].reset_index()

In [66]:
#count the records for each year
allData["Date"].dt.month.value_counts()

3     1578521
5     1551137
12    1539652
6     1521164
4     1429466
10    1345727
8     1345267
1     1337085
7     1297342
2     1284393
11    1238799
9     1202171
Name: Date, dtype: int64

### Create a df for only the football months

In [67]:
#new df for only the football months:  Aug - Dec

fbAll_df = allData.query("Date.dt.month > 7").reset_index()

#if you want to use exact dates:
#add inplace=True if you are modifying an existing df
#df.query("Date <= '2017-01-31' & Date >= '2017-05-01' ", inplace=True)

In [68]:
#ensure only the football months are present

fbAll_df["Date"].dt.month.value_counts()

12    1539652
10    1345727
8     1345267
11    1238799
9     1202171
Name: Date, dtype: int64

In [69]:
#total records in the dataframe
len(fbAll_df.index)

6671616

In [70]:
#determine the total volume sold by city

cityTotal = fbAll_df.groupby("City").agg({"Sale (Dollars)":sum})
cityTotal.head()

        Sale (Dollars)
City
ACKLEY       102690.48
ADAIR         79681.69
ADEL         589482.31
AFTON         54376.67
AKRON         55331.77

In [71]:
#noticed the city data is in mixed case
#count of all cities, lower case so each city is counted only once

fbAll_df["City"].str.lower().value_counts()

des moines      581187
cedar rapids    432009
davenport       290591
waterloo        214484
iowa city       202863
                 ...
pomeroy             59
blairstown          52
hull                51
earling             43
hinton              26
Name: City, Length: 429, dtype: int64

In [72]:
#use only Ames (Iowa State) and Iowa City (univ of Iowa) 
#create a new df
newName = fbAll_df

#change the name of the largest cities (only need Ames and Iowa City, others are for eyeball check)
newName.loc[newName['City']=='AMES', 'City'] = "Ames"
newName.loc[newName['City']=='IOWA CITY', 'City'] = "Iowa City"
newName.loc[newName['City']=='DES MOINES', 'City'] = "Des Moines"
newName.loc[newName['City']=='CEDAR RAPIDS', 'City'] = "Cedar Rapids"

In [73]:
#confirm the cities are no longer duplicated

newName["City"].value_counts()

Des Moines      581187
Cedar Rapids    432009
Iowa City       202863
Ames            191555
DAVENPORT       162411
                 ...
Earling             43
STANWOOD            41
LOHRVILLE           40
ROBINS              27
Hinton              26
Name: City, Length: 798, dtype: int64

### Create a df for only the two college towns

In [74]:
#Create new df, with only Ames and Iowa City

twoCity = newName[(newName.City == 'Iowa City') | (newName.City == 'Ames')].reset_index()

In [75]:
#confirm only the two cities are in the df

twoCity['City'].value_counts()

Iowa City    202863
Ames         191555
Name: City, dtype: int64

In [76]:
twoCity.head()

,level_0,index,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,...,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons),Iowa ZIP Code Tabulation Areas,Iowa Watershed Sub-Basins (HUC 08),Iowa Watersheds (HUC 10),County Boundaries of Iowa,US Counties
0,5,7,S15586300111,2013-11-06,2501,Hy-vee #2 / Ames,640 LINCOLNWAY,Ames,50010,POINT (-93.619455 42.022848),...,12.37,12,148.44,9.0,2.38,609.0,11.0,124.0,53.0,299.0
1,10,23,S09251800068,2012-12-03,2622,Hy-Vee Food Store / Iowa City,1125 N DODGE ST,Iowa City,52240,POINT (-91.518536 41.676203),...,6.29,6,37.74,4.5,1.19,526.0,22.0,292.0,61.0,1792.0
2,16,38,S15596700079,2013-11-14,2545,Hy-Vee Drugstore / Iowa City,310 N 1ST ST,Iowa City,52245,POINT (-91.502069 41.665693),...,13.38,2,26.76,3.5,0.92,526.0,22.0,292.0,61.0,1792.0
3,20,57,S08027000001,2012-10-02,4456,Kum & Go #53 / Iowa City,955 MORMAN TREK BLVD,Iowa City,52246,POINT (-91.574083 41.649635),...,20.74,6,124.44,10.5,2.77,268.0,22.0,292.0,61.0,1792.0
4,22,61,S15455800062,2013-10-31,2512,Hy-Vee Wine and Spirits / Iowa City,1720 WATERFRONT DR,Iowa City,52240,POINT (-91.530467 41.64277),...,11.87,12,142.44,9.0,2.38,896.0,22.0,292.0,61.0,1792.0

In [77]:
#rename the columns and remove spaces and parenthesis

twoCity.columns = ['level_0',
 'index',
 'Invoice_Item_Number',
 'Date',
 'Store_Number',
 'Store_Name',
 'Address',
 'City',
 'Zip_Code',
 'Store_Location',
 'County_Number',
 'County',
 'Category',
 'Category_Name',
 'Vendor_Number',
 'Vendor_Name',
 'Item_Number',
 'Item_Description',
 'Pack',
 'Bottle _volume_ml',
 'State_Bottle_Cost',
 'State_Bottle_Retail',
 'Bottles_Sold',
 'Sale_Dollars',
 'Volume_Sold_Liters',
 'Volume_Sold_Gallons',
 'Iowa_ZIP_Code_Tabulation_Areas',
 'Iowa_Watershed_Sub-Basins_HUC_08',
 'Iowa_Watersheds_HUC_10',
 'County_Boundaries_of_Iowa',
 'US_Counties']

In [78]:
#eyeball check
#twoCity.head()

In [79]:
#how many rows & columns?
twoCity.shape

(394418, 31)

In [80]:
#confirm data is still for the football months
twoCity["Date"].dt.month.value_counts()

10    83708
8     81705
12    79392
9     75665
11    73948
Name: Date, dtype: int64

In [81]:
twoCity_reduced = twoCity[['Date', 'City', 'Sale_Dollars']]

In [82]:
#reduce the df to only include the features needed for the regression model
twoCity_reduced.head()

        Date       City  Sale_Dollars
0 2013-11-06       Ames        148.44
1 2012-12-03  Iowa City         37.74
2 2013-11-14  Iowa City         26.76
3 2012-10-02  Iowa City        124.44
4 2013-10-31  Iowa City        142.44

In [83]:
#save this df to a csv
# why?   backup, just in case
twoCity_reduced.to_csv('data/twoCity_reduced.csv')

### Create a df for only Ames

In [84]:
#create a df for Ames
ames1 = twoCity_reduced[(twoCity_reduced.City == 'Ames')].reset_index()

In [85]:
#eyeball check, ensure the counts
ames1['City'].value_counts()

Ames    191555
Name: City, dtype: int64

In [86]:
#create a df of only the ames sales
ames2 = ames1[['Date', 'Sale_Dollars']]

In [87]:
ames2.head()

        Date  Sale_Dollars
0 2013-11-06        148.44
1 2014-10-22         28.50
2 2013-12-24         49.48
3 2013-12-30         69.92
4 2014-08-13         28.96

In [88]:
#save the final Ames dataframe to a csv
ames2.to_csv('data/ames2.csv')

### Create a small dataset for Ames

In [89]:
#amesShort = ames2.head(20)

In [90]:
#amesShort.head()

In [91]:
#save the amesShort df as a new csv to have a smaller set of data for further manipulation
#amesShort.to_csv('data/amesShort.csv')

### Create a df for only Iowa City

In [92]:
#create a df for Iowa City
iowa1 = twoCity_reduced[(twoCity_reduced.City == 'Iowa City')].reset_index()

In [93]:
#eyeball check, ensure the counts
iowa1['City'].value_counts()

Iowa City    202863
Name: City, dtype: int64

In [94]:
#create a df of only the Iowa City sales
iowa2 = iowa1[['Date', 'Sale_Dollars']]

In [95]:
iowa2.head()

        Date  Sale_Dollars
0 2012-12-03         37.74
1 2013-11-14         26.76
2 2012-10-02        124.44
3 2013-10-31        142.44
4 2013-10-07        960.00

In [96]:
#save the final dataframe to a csv
iowa2.to_csv('data/iowaCity2.csv')